RewriteEngine On

# Redirect contact to contact.php
RewriteRule ^Home$ index.php [L]
RewriteRule ^Contact$ contact.php [L]
RewriteRule ^Service$ service.php [L]
RewriteRule ^Blog$ blog.php [L]
RewriteRule ^Blog-Details$ blog_details.php [L]
RewriteRule ^About$ about.php [L]

# Remove "index.php" from URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Custom 404 error page
ErrorDocument 404 /404.php

# Deny access to .htaccess itself
<Files ".htaccess">
    Order Allow,Deny
    Deny from all
</Files>

# Prevent directory listing
Options -Indexes